$white: #FFF;
$red: #E65C43;
$greybar: #F5F6F6;
$grey: #636161;
$footer-color: #30353D;

$bg-img: '../images/bg.gif';
$logo-img: '../images/logo.png';
$devices-img: '../images/devices.png';
$social-media-img: '../images/social-media.png';

$default-font: 'Roboto', sans-serif;

$small-breakpoint: 459px;
$medium-breakpoint: 767px;
$large-breakpoint: 959px;
